.to-do-list__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .to-do-list__main {
    width: 65%;
  }
  
  .to-do-list__add-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  
    > * {
      margin: auto 4px;
    }
  }