<div class="to-do-list__container">
  <header>
    <app-lm-title></app-lm-title>
  </header>

  <main class="to-do-list__main">
    <div class="to-do-list__add-section">
      <app-lm-input></app-lm-input>

      <app-lm-button></app-lm-button>
    </div>

    <div class="to-do-list__task-list-container">
      <ul class="to-do-list__task-list">
        <li>
          <app-lm-task-card>Tarea 1</app-lm-task-card>
        </li>
        <li>
          <app-lm-task-card><p>Tarea 2</p></app-lm-task-card>
        </li>
        <li>
          <app-lm-task-card><p>Tarea 3</p></app-lm-task-card>
        </li>
        <li>
          <app-lm-task-card><p>Tarea 4</p></app-lm-task-card>
        </li>
      </ul>
    </div>
  </main>
</div>
