.to-do-list__add-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  > * {
    margin: auto 10px;
  }
}

button {
  height: 31px;
  width: 60px;
}

.lm-input {
  max-width: 100%;
  min-width: 376px;

  height: 25px;
}
